:root {
  --brand-primary: #a63493;
  --brand-secondary: #3c763d;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f8f9fa;
}

.text-brand {
  color: var(--brand-primary) !important;
}

.bg-brand {
  background-color: var(--brand-primary) !important;
  color: white;
}

.btn-brand {
  background-color: var(--brand-primary);
  color: white;
  border: none;
}

.btn-brand:hover {
  background-color: #8a2b7a;
  color: white;
}

.text-brand-secondary {
  color: var(--brand-secondary) !important;
}

.bg-brand-secondary {
  background-color: var(--brand-secondary) !important;
  color: white;
}

/* Print styles */
@media print {
  .no-print {
    display: none !important;
  }
  .print-w-100 {
    width: 100% !important;
  }
}

/* Make links slightly bolder and underlined on hover/focus for better affordance */
a, a:link, a:visited {
  transition: font-weight 120ms ease, text-decoration 120ms ease, color 120ms ease;
}

a:hover, a:focus, footer i:hover, footer i:focus {
  font-weight: 600;
  /* text-decoration: underline !important; */
  text-decoration-thickness: 1.05px;
  color: var(--brand-primary) !important;
  /* text-decoration-color: var(--brand-primary) !important; */
  transition: transform 120ms ease, color 120ms ease, text-decoration-thickness 120ms ease, font-weight 120ms ease;
  /* transform: translateY(-2px); */
  will-change: transform, color;
}